<!DOCTYPE html>
<html>
<head>
    <title>Questionnaire</title>
</head>
<body>
  <form method="post" action="/">
        <label for="name">What is your name?</label>
        <input type="text" name="name" required><br>

        <!-- Add HTML input fields for the questions -->
        <p>How do you believe your digital capabilities stack-up against your competitors?</p>
        <input type="radio" name="response1" value="1" required>I don't know<br>
        <input type="radio" name="response1" value="2">We believe our competitors are significantly more digital than us<br>
        <input type="radio" name="response1" value="3">We believe our competitors are slightly more digital than us<br>
        <input type="radio" name="response1" value="4">We believe we are slightly more digital than our competitors<br>
        <input type="radio" name="response1" value="5">We believe we are significantly more digital than our competitors<br>

        <p>Think about your business, which of these areas do you see as most relevant for digitalization? [select all that apply]</p>
        <input type="radio" name="response2" value="1" required>Business Management (e.g., how you manage customer data, product inventory etc.)<br>
        <input type="radio" name="response2" value="2">Receiving Payments (e.g., how customers pay your business in person and online etc.)<br>
        <input type="radio" name="response2" value="3">Outbound Payments (e.g., how you pay vendors & suppliers for your inventory etc.)<br>
        <input type="radio" name="response2" value="4">Growth / Marketing (e.g., how you reach & sell to customers via an eCommerce webpage, third party online                     marketplace, social media etc.)<br>
        <input type="radio" name="response2" value="5">5. Security (e.g., how you protect your business & technology systems from cyber-attacks, viruses, fraud etc.)<br>
        <input type="radio" name="response2" value="6">None of the above<br>

        <p>To what degree do you have future plans to become more digital?</p>
        <input type="radio" name="response3" value="1" required>We have no plans to become more digital in the future<br>
        <input type="radio" name="response3" value="2">We have plans to research the right digital tools and processes for our business <br>
        <input type="radio" name="response3" value="3">We have plans to finalize which areas of our business we want to digitalize and the relevant digital tools<br>

        <p>To what degree do you have future plans to become more digital?</p>
        <input type="radio" name="response4" value="1" required>We have no awareness of the available digital tools, or where to begin in terms of determining solutions             / partners available to digitalize our business<br>
        <input type="radio" name="response4" value="2">We have some level of awareness of the available digital tools and the solutions / partners available to                      digitalize our business<br>
        <input type="radio" name="response4" value="3">We have a solid level of awareness of the available digital tools, and are trying to determine the right solutions           / partners for us to digitalize our business<br>
        <input type="radio" name="response4" value="4">4. We have a strong understanding of the available digital tools, and have identified the right solutions<br>
    


        <!-- Add other input fields for other questions -->

       
